# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Mat files
*.mat

# Simulink autosave extension
*.autosave
*.r2024a

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# mac OS Finder files
.DS_Store

# Thumbnails
._*

# others
double_track_16_06_2025/DTM_out.mat
*.gif
*.mp4

DTM_out.mat

# python
__pycache__/
*.pyc

#acados
acados

c_generated_code*
*acados_ocp.json
*acados_sim.json
drift_eq/gainLQR_drift.mat

inverted_pendulum_notebook/

generated_figures/
stm_model_ocp.json
